html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.overview__create {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.overview__form {
  padding: 10px 20px 15px 10px;
  width: 50%;
}

.overview__form--company {
  border-right: 1px solid #ccc;
}

.form-title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: normal;
}

form {
  margin: 0 5px 0 10px;
}

.form-field {
  margin-top: 10px;
}

label {
  /* width: 100%; */
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.field {
  display: block;
  padding: 6px 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.field--code {
  display: inline-block;
  margin-right: 5px;
  width: 80px;
}

.field--phone {
  display: inline-block;
  width: calc(100% - 80px - 5px);
}

.field--lat {
  display: inline-block;
  width: 49%;
  margin-right: 5px;
}

.field--long {
  display: inline-block;
  width: calc(100% - 49% - 5px);
}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

.overview__container {
  padding: 0 10px 25px;
}

.heading {
  margin: 10px 0;
  font-size: 1.7rem;
  font-weight: normal;
}

.overview__companies {
  display: flex;
  flex-wrap: wrap;
}

.company,
.office {
  margin: 0 5px 10px;
  padding: 10px 10px 20px;
  width: calc(50% - 10px);
  border: 1px solid grey;
  border-radius: 5px;
}

.company a {
  color: inherit;
  text-decoration: none;
}

.company__name,
.office__name {
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
  font-size: 1.4rem;
  font-weight: bold;
}

.company__info,
.office__info {
  margin: 0 10px;
}

.info-label {
  margin-top: 10px;
  font-weight: bold;
}

.offices-pages {
  padding: 10px;
}

.offices-pages__company {
  border-bottom: 1px solid grey;
}

.offices__container {
  display: flex;
}

.offices-pages .company__info {
  position: relative;
  padding-bottom: 20px;
}

.btn {
  background: none;
  border: 0;
}

.btn--submit {
  display: block;
  margin-top: 10px;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  color: grey;
  background: #eee;
}

.anchor {
  text-decoration: none;
}

.anchor--back {
  position: absolute;
  right: 5px;
  bottom: 10px;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 5px;
  color: grey;
  background: #ccc;
}

.btn--delete {
  float: right;
  margin-top: -7px;
  font-size: 1.5rem;
  color: grey;
}

.error-message {
  display: block;
  margin-top: 5px;
  color:red
}
